<a href="https://colab.research.google.com/github/SourabhGupta7/House-Sales-in-King-County/blob/master/HouseSales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as nm
import seaborn as sns
import sklearn as sk
import matplotlib as plt
import matplotlib.pyplot as plt

In [55]:
df=pd.read_csv("https://raw.githubusercontent.com/SourabhGupta7/House-Sales-in-King-County/master/kc_house_data.csv")
df.head(10)

           id             date      price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000   221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000   538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000   180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000   604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000   510000.0  ... -122.045           1800        7503
5  7237550310  20140512T000000  1225000.0  ... -122.005           4760      101930
6  1321400060  20140627T000000   257500.0  ... -122.327           2238        6819
7  2008000270  20150115T000000   291850.0  ... -122.315           1650        9711
8  2414600126  20150415T000000   229500.0  ... -122.337           1780        8113
9  3793500160  20150312T000000   323000.0  ... -122.031           2390        7570

[10 rows x 21 columns]

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [57]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [58]:
df.drop(["id","date",],axis=1)

           price  bedrooms  bathrooms  ...     long  sqft_living15  sqft_lot15
0       221900.0         3       1.00  ... -122.257           1340        5650
1       538000.0         3       2.25  ... -122.319           1690        7639
2       180000.0         2       1.00  ... -122.233           2720        8062
3       604000.0         4       3.00  ... -122.393           1360        5000
4       510000.0         3       2.00  ... -122.045           1800        7503
5      1225000.0         4       4.50  ... -122.005           4760      101930
6       257500.0         3       2.25  ... -122.327           2238        6819
7       291850.0         3       1.50  ... -122.315           1650        9711
8       229500.0         3       1.00  ... -122.337           1780        8113
9       323000.0         3       2.50  ... -122.031           2390        7570
10      662500.0         3       2.50  ... -122.145           2210        8925
11      468000.0         2       1.00  ... -122.292           1330        6000
12      310000.0         3       1.00  ... -122.229           1780       12697
13      400000.0         3       1.75  ... -122.045           1370       10208
14      530000.0         5       2.00  ... -122.394           1360        4850
15      650000.0         4       3.00  ... -122.375           2140        4000
16      395000.0         3       2.00  ... -121.962           1890       14018
17      485000.0         4       1.00  ... -122.343           1610        4300
18      189000.0         2       1.00  ... -122.210           1060        5095
19      230000.0         3       1.00  ... -122.306           1280        8850
20      385000.0         4       1.75  ... -122.341           1400        4980
21     2000000.0         3       2.75  ... -122.233           4110       20336
22      285000.0         5       2.50  ... -122.169           2240        7005
23      252700.0         2       1.50  ... -122.166           1220        8386
24      329000.0         3       2.25  ... -122.172           2200        6865
25      233000.0         3       2.00  ... -122.218           1030        4705
26      937000.0         3       1.75  ... -122.360           1760        3573
27      667000.0         3       1.00  ... -122.314           1860        3861
28      438000.0         3       1.75  ... -122.304           1520        6235
29      719000.0         4       2.50  ... -122.110           2630        6026
...          ...       ...        ...  ...      ...            ...         ...
21583   399950.0         2       1.00  ... -122.329           1370        1173
21584   380000.0         3       2.50  ... -122.384           1310        1415
21585   270000.0         3       2.50  ... -122.055           2170        5399
21586   505000.0         2       2.50  ... -122.381           1430        1249
21587   385000.0         3       2.50  ... -122.309           1520        1497
21588   414500.0         2       1.50  ... -122.375           1210        1118
21589   347500.0         3       2.50  ... -122.022           2540        4571
21590  1222500.0         4       3.50  ... -122.066           4560       11063
21591   572000.0         4       2.75  ... -122.232           1810        5641
21592   475000.0         3       2.25  ... -122.346           1180        1224
21593  1088000.0         5       3.75  ... -122.181           3030        7980
21594   350000.0         4       2.75  ... -122.107           2530        5988
21595   520000.0         2       2.25  ... -122.346           1530        1282
21596   679950.0         5       2.75  ... -122.131           3550        9421
21597  1575000.0         4       3.25  ... -122.223           2290       10125
21598   541800.0         4       2.50  ... -122.264           2673        6500
21599   810000.0         4       3.00  ... -122.046           3370        6814
21600  1537000.0         5       3.75  ... -122.200           2780        8964
21601   467000.0         3       2.50  ... -122.318           1285        1253
21602   224000.0         3       1.75  ... -122.002           1320       11303
21603   507250.0         3       2.50  ... -121.881           2270        5731
21604   429000.0         3       2.00  ... -122.288           1400        1230
21605   610685.0         4       2.50  ... -122.167           2520        6023
21606  1007500.0         4       3.50  ... -122.398           2050        6200
21607   475000.0         3       2.50  ... -122.409           1330        1265
21608   360000.0         3       2.50  ... -122.346           1530        1509
21609   400000.0         4       2.50  ... -122.362           1830        7200
21610   402101.0         2       0.75  ... -122.299           1020        2007
21611   400000.0         3       2.50  ... -122.069           1410        1287
21612   325000.0         2       0.75  ... -122.299           1020        1357

[21613 rows x 19 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
y=df["price"]
X=df.drop(["price","date"],axis=1)

In [0]:
X_test,X_train,y_test,y_train=train_test_split(X,y,test_size=0.3,random_state=1)

In [0]:
from sklearn.linear_model import LinearRegression

In [0]:
lm=LinearRegression()

In [64]:
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
predictions=lm.predict(X_test)
accuracy=lm.score(X_test,y_test)
print(accuracy)

0.698792681454509